<app-refresh-title (onRefresh)="doRefresh()" #refresher>
    <em class="fa fa-eye"></em> Ma sécurité
</app-refresh-title>
<div class="w-100 d-flex justify-content-center align-items-center flex-wrap">
    <div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="security['INTRUSION']">
        <label class="btn-primary" ngbButtonLabel (click)="runSecurity('INTRUSION', 'OFF')">
            <input ngbButton type="radio" value="OFF"> Mode éteint
        </label>
        <label class="btn-primary" ngbButtonLabel (click)="runSecurity('INTRUSION', 'PRESENCE')">
            <input ngbButton type="radio" value="PRESENCE"> Mode partiel
        </label>
        <label class="btn-primary" ngbButtonLabel (click)="runSecurity('INTRUSION', 'ON')">
            <input ngbButton type="radio" value="ON"> Mode total
        </label>
    </div>
</div>
<div class="card-columns mt-5">
    <div class="card text-white o-hidden h-100 bg-dark">
        <div class="card-body">
            <div class="card-body-icon">
                <em class="fa fa-fw fa-home"></em>
            </div>
            <div class="mr-5">Ma sécurité domestique</div>
        </div>
        <div class="card-footer text-white clearfix small z-1 click">
            <div class="custom-control custom-switch float-right" >
                <input type="checkbox" class="custom-control-input" id="toggle_HOME"
                       (change)="runSecurity('DOMESTIC', security['DOMESTIC'] === 'ON'?'ON':'OFF')"
                       [checked]="security['DOMESTIC'] === 'ON'">
                <label class="custom-control-label" for="toggle_HOME"> </label>
            </div>
        </div>
    </div>
    <div class="card text-white o-hidden h-100 bg-dark">
        <div class="card-body">
            <div class="card-body-icon">
                <em class="fa fa-fw fa-group"></em>
            </div>
            <div class="mr-5">Ma sécurité assistance</div>
        </div>
        <div class="card-footer text-white clearfix small z-1 click">
            <div class="custom-control custom-switch float-right" >
                <input type="checkbox" class="custom-control-input" id="toggle_ASSISTANCE"
                       (change)="runSecurity('ASSISTANCE', security['ASSISTANCE'] === 'ON'?'ON':'OFF')"
                       [checked]="security['ASSISTANCE'] === 'ON'">
                <label class="custom-control-label" for="toggle_ASSISTANCE"> </label>
            </div>
        </div>
    </div>
</div>
