<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="navbar-nav sidebar border-right" id="sidebar-wrapper" [ngClass]="{'toggled' : hideMenu}">
        <div class="sidebar-heading bg-light">Blyssbox</div>
        <div class="list-group list-group-flush" *ngIf="!loggedIn">
            <a routerLink="/login" class="list-group-item list-group-item-action" routerLinkActive="active"><em
                    class="fa fa-fw fa-sign-in"></em> Login</a>
        </div>
        <div class="list-group list-group-flush" *ngIf="loggedIn">
            <a routerLink="/favorites" class="list-group-item list-group-item-action" routerLinkActive="active"><em
                    class="fa fa-fw fa-star"></em> Favoris</a>
            <a routerLink="/openings" class="list-group-item list-group-item-action" routerLinkActive="active"><em
                    class="fa fa-fw fa-window-maximize"></em> Ouvertures</a>
            <a routerLink="/lightnings" class="list-group-item list-group-item-action" routerLinkActive="active"><em
                    class="fa fa-fw fa-lightbulb-o"></em> Eclairages</a>
            <a routerLink="/history" class="list-group-item list-group-item-action" routerLinkActive="active"><em
                    class="fa fa-fw fa-history"></em> Historique</a>
            <a routerLink="/status" class="list-group-item list-group-item-action" routerLinkActive="active"><em
                    class="fa fa-fw fa-cogs"></em> Status</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle" (click)="hideMenu = !hideMenu"><em class="fa fa-bars"></em></button>
        </nav>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
