<app-refresh-title (onRefresh)="doRefresh()" #refresher>
    <em class="fa fa-fw fa-star"></em> Favoris
</app-refresh-title>
<div class="card-columns card-columns-3">
    <div class="card text-white o-hidden h-100" *ngFor="let f of favorites"
         [ngClass]="{ 'bg-success' : f.status === '1',  'bg-primary': f.status !== '1'}">
        <div class="card-body">
            <div class="card-body-icon">
                <em class="fa fa-fw {{getIcon(f.actions[0].subCategory)}}"></em>
            </div>
            <div class="mr-5">{{f.name}}</div>
        </div>
        <div class="card-footer text-white clearfix small z-1 click"
             (click)="run(f.id)">
            <span class="float-left">Run</span>
        </div>
    </div>
</div>
