:host {
  .card-list {
    .disabled {
      background-color: #000000;
    }

    .picto {
      text-align: center;
      margin: 0;
      padding: 1rem;

      em {
        font-size: 2rem;
      }
    }
  }
}
