<app-refresh-title (onRefresh)="doRefresh()" #refresher>
    <em class="fa fa-fw fa-window-maximize"></em> Ouvertures
</app-refresh-title>

<div class="card-columns">
    <div class="card text-white o-hidden h-100 bg-dark" *ngFor="let item of openings"
         [ngClass]="{'disabled': !item.alive}">
        <div class="card-body">
            <div class="card-body-icon">
                <em class="fa fa-fw {{getIcon(item.type)}}"></em>
            </div>
            <div class="mr-5">{{item.name}}</div>
            <small>{{getDevice(item.type).name}}</small>
        </div>
        <div class="card-footer text-white clearfix small z-1 click">
            <app-battery-level class="float-left" [level]="item.batteryLevel"></app-battery-level>
            <div class="custom-control custom-switch float-right" *ngIf="item.status !== 'TOGGLE'">
                <input type="checkbox" class="custom-control-input" [id]="'toggle_' +i"
                       (change)="run(item.serial, item.status)"
                       [checked]="item.status === 'CLOSE' || item.status === 'ON'">
                <label class="custom-control-label" [for]="'toggle_' +i"> </label>

            </div>
            <button *ngIf="item.status === 'TOGGLE'"
                    (click)="runToggle(item.serial)" class="btn btn-sm btn-secondary float-right"><em
                    class="fa fa-play"></em>
            </button>
        </div>
    </div>
</div>
