/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
@import '~font-awesome/css/font-awesome.css';
@import "~ngx-toastr/toastr-bs4-alert";
@import "theme/variables";
@import "theme/mixins";
@import "theme/global";
@import "theme/utilities";
@import "theme/cards";
@import "theme/login";
@import "theme/navbar";
@import "theme/footer";

.card-body-icon-type {
  top: 1rem;
  right: 0.5rem;
  filter: invert(1);
}
.navbar-brand {
  img {
    height: calc(#{$navbar-base-height} - 2rem);
  }
}
.click {
  cursor: pointer;
}

.card-columns-3 {

  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
}
