<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <em class="fa fa-fw fa-star"></em> Favoris
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-row>
        <ion-col size="6" *ngFor="let item of favorites">
            <ion-card button="true" [color]="item.status === '1' ? 'success': 'primary'" (click)="run(item.id)">
                <ion-card-header>
                    <ion-card-title>{{item.name}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <em class="fa fa-fw {{getIcon(item.actions[0].subCategory)}}"></em>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>
